body{
    background-color:	white !important;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}
.wdiv{
    text-align: center;
}

#jokePara{
    display: inline-flex;
    margin: auto 10px;
    font-size: 18px;
    color: #000000;
    border-radius: 6px;
    border: 1px solid green;
    padding: 10px;
}

#Sumy{
    display: flex;
    justify-content: center;
    margin: auto 10px;
    text-align: center;
    font-size: 22px;
    color: #000000;
    border-radius: 6px;
    border: 1px solid green;
    padding: 10px;
}